#board {   
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 1px;
    position: absolute;
    left: 200px;
    top: 200px;
}
/* Celdas */
.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    cursor: pointer;
    color: #FFFF;
    border: 1px solid white;
}

.cell:hover {
    background-color: rgb(95, 50, 100);
    background-image: none;
}
/* Estado del juego */
#status {
 border: 2px solid rgb(255, 255, 255);
 background: none;
 border-radius: 15px;
 width: 150px;
 height: 27px;
 text-align: center;
 margin-top: 150px;
 margin-left: 265px;
 font-size: 20px;
 color: white;
}
/* Boton de refrescar */
#clear {
    position: absolute;
    top: 550px;
    left: 300px;
    background: none;
    border-color: white;
    color: #FFFF;
    width: 100px;
    height: 30px;
    border-radius: 10px;
}
/* Fondo */
* {
    background-image: url(https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExc3F6anRsaHZib2M3ZTFncTBoN2phenR3ZGY5cTJiNWFpano1dXJuOSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/3ov9k1173PdfJWRsoE/giphy.gif);
    background-repeat: auto ;
}
